@import "tailwindcss";

h1{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  
}