*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}
html,
body{
  height: 100%;
  width: 100%;
}

button{
  margin: 10px;
}
.box{
  height: 100px;
  width: 100px;
  background-color: red;
}
.page1{
  background-color: red;
  height: 100vh;
}
.page2{
  background-color: green;
  height: 100vh;
}
.page3{
  background-color: blue;
  height: 100vh;
} 